@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@400;500;700&display=swap%27");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Koho", sans-serif;
}

.login-bg {
  background-image: url("../../images/backgrounds/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-bg .login {
  background-color: #ffffff;
  border-radius: 20px;
  width: 90%;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.login-bg .login__title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.login-bg .login__title h1 {
  font-weight: bold;
  font-size: 24px;
}
.login-bg .login__title p {
  font-size: 12px;
}
.login-bg .login__form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-bg .login__form label {
  margin-bottom: 10px;
  font-weight: bold;
}
.login-bg .login__form input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 14px;
}
.login-bg .login__form input:focus {
  outline: none;
  border: 1px solid #6DB86C;
}
.login-bg .login__form .errorLog h3 {
  color: rgb(255, 0, 0);
  font-size: 16px;
}
.login-bg .login__form .errorLog p {
  font-size: 14px;
}
.login-bg .login__form button {
  padding: 0.8em 2em;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #6DB86C;
  border: 2px solid #6DB86C;
  margin-top: 50px;
}
.login-bg .login__form button:hover {
  background-color: #ffffff;
  border: 2px solid #6DB86C;
  color: #6DB86C;
  cursor: pointer;
}

@media screen and (min-width: 550px) {
  .login-bg .login {
    width: 500px;
  }
}
.gm-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  width: 100%;
  height: 10vh;
  background: #FBFCF4;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.15);
}
.gm-navbar .logo-ordi-navbar {
  display: none;
  height: 8vh;
}
.gm-navbar .logo-phone-navbar {
  width: 80%;
  color: #6DB86C;
  font-size: 35px;
}
.gm-navbar .quit-computer {
  display: none;
}
.gm-navbar .quit-button {
  border-radius: 50%;
  width: 49px;
  height: 49px;
  background: #6DB86C;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gm-navbar .quit-button img {
  display: flex;
}

@media screen and (min-width: 760px) {
  .gm-navbar {
    background: #FBFCF4;
  }
  .gm-navbar .quit-button {
    display: none;
  }
  .gm-navbar .logo-ordi-navbar {
    display: block;
  }
  .gm-navbar .logo-phone-navbar {
    display: none;
  }
  .gm-navbar .quit-computer {
    display: block;
    padding: 0.5em 1.5em;
    background: #6DB86C;
    border-radius: 15px;
  }
  .gm-navbar .quit-computer a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}
.ingame-bg {
  background: #FBFCF4;
  overflow: hidden;
}
.ingame-bg .game-border {
  background: #FBFCF4;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  margin: 50px auto;
  box-sizing: border-box;
  border-width: 0px 3px 5px 3px;
  border-style: solid;
  border-color: #6DB96C;
  border-radius: 10px;
}
.ingame-bg .game-border .logo {
  width: 50%;
}
.ingame-bg .game-border #game-start {
  border: none;
  padding: 1em 2.5em;
  color: white;
  font-family: "Koho";
  font-weight: bold;
  background: #6DB86C;
  border-radius: 25px;
}
.ingame-bg .game-border .event-shown {
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid #6DB86C;
  background: #FBFCF4;
  border-radius: 10px;
  color: black;
}
.ingame-bg .game-border .event-shown h2 {
  text-align: center;
  font-size: 24px;
}
.ingame-bg .game-border .event-shown p {
  text-align: center;
}
.ingame-bg .game-border .event-hidden {
  display: none;
}
.ingame-bg .game-border #game-player {
  align-items: center;
  width: 65%;
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
}
.ingame-bg .game-border #game-player img {
  width: 80px;
  aspect-ratio: 1/1;
  background: none;
}
.ingame-bg .game-border #game-player .player-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 760px) {
  .ingame-bg {
    background-image: url("../../images/backgrounds/lianes2-8.png");
    background-size: 115%;
    background-position-x: 65%;
    background-position-y: 12%;
  }
  .ingame-bg .game-border {
    border-width: 1px;
  }
  .ingame-bg .game-border .logo {
    width: 20%;
  }
  .ingame-bg .game-border .event-shown {
    max-width: 60vw;
    background: #6DB96C;
    color: white;
    font-weight: bold;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.38);
  }
  .ingame-bg .game-border #game-start {
    border-radius: 10px;
  }
  .ingame-bg .game-border #game-start.white-start {
    background: white;
    color: #6DB96C;
    border-radius: 25px;
    padding: 0.5em 1.5em;
  }
}
.endgame {
  background-color: #FBFCF4;
}
.endgame__title {
  font-size: 24px;
  width: 90%;
  text-align: center;
  color: #000000;
  margin: 50px auto;
}
.endgame__player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.endgame__cards__form {
  margin: auto;
}
.endgame__cards__form__title {
  font-size: 20px;
  margin: 50px 20px 25px;
  color: #6DB96C;
}
.endgame__cards__form__carrousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 30px 20% 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: rgba(109, 185, 108, 0.18);
}
.endgame__cards__form__carrousel__item input {
  display: none;
}
.endgame__cards__form__carrousel__item input:checked + label h3 {
  filter: grayscale(0);
}
.endgame__cards__form__carrousel__item input:checked + label img {
  filter: grayscale(0);
}
.endgame__cards__form__carrousel__item label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.endgame__cards__form__carrousel__item label h3 {
  color: #6DB96C;
  filter: grayscale(100%);
}
.endgame__cards__form__carrousel__item label img {
  position: relative;
  width: 200px;
  aspect-ratio: 9/16;
  filter: grayscale(100%);
}
.endgame__cards__form__button {
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.endgame__cards__form__button button {
  padding: 0.8em 3em;
  margin: 2em auto;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #6DB96C;
  background-color: #6DB96C;
  color: #ffffff;
  border-radius: 20px;
}
.endgame__cards__form__button button:hover {
  background-color: #ffffff;
  color: #6DB96C;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .endgame__cards__form__carrousel {
    padding: 30px 10% 10px;
  }
}
@media screen and (min-width: 1000px) {
  .endgame__cards__form__carrousel {
    padding: 30px 5% 10px;
  }
}
#winner-div {
  overflow: hidden;
  background: #FBFCF4;
}
#winner-div #congrats {
  padding: 30px;
}
#winner-div #congrats h2 {
  text-align: center;
  font-size: 24px;
}
#winner-div #winners {
  position: relative;
  width: 100vw;
}
#winner-div #winners .first {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  left: auto;
  right: auto;
  top: 0;
  transform: translateX(150%);
}
#winner-div #winners .first h2 {
  text-align: center;
  font-size: 24px;
}
#winner-div #winners .first p {
  margin-top: 10px;
  font-weight: bold;
  padding: 1em 2em;
  color: #6DB96C;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 40px;
  left: 127px;
  top: 309px;
  background: #FFFFFF;
  border: 1.5px solid #6DB96C;
  border-radius: 25px;
}
#winner-div #winners .second {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 54px;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#winner-div #winners .second h2 {
  text-align: center;
  font-size: 24px;
}
#winner-div #winners .second p {
  margin-top: 10px;
  width: 135px;
  height: 40px;
  font-weight: bold;
  padding: 1em 2em;
  color: #6DB96C;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1.5px solid #6DB96C;
  border-radius: 25px;
}
#winner-div #winners .third {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 254px;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#winner-div #winners .third h2 {
  text-align: center;
  font-size: 24px;
}
#winner-div #winners .third p {
  margin-top: 10px;
  width: 135px;
  height: 40px;
  font-weight: bold;
  padding: 1em 2em;
  color: #6DB96C;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1.5px solid #6DB96C;
  border-radius: 25px;
}
#winner-div #winners #others {
  overflow-y: scroll;
  position: absolute;
  width: 358px;
  height: 163px;
  left: 16px;
  top: 420px;
  padding: 1em 2em;
  background: #FBFCF4;
  border: 2px solid #6DB96C;
  border-radius: 10px;
}
#winner-div #winners #others .otherplayers {
  display: flex;
  justify-content: space-between;
}
#winner-div #winners #others .otherplayers p {
  font-weight: bold;
}

main {
  background-color: #FBFCF4;
  width: 100%;
  height: auto;
}
main .container_all {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/backgrounds/lianes.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  main .container_all {
    background-image: none;
  }
}
main .container_all .container_title {
  background-color: white;
  margin-top: 2%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}
main .container_all .container_title .title {
  font-family: "KoHo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #1F2020;
}
main .container_all .container_form {
  margin-top: 30px;
  width: 60%;
}
@media screen and (max-width: 768px) {
  main .container_all .container_form {
    width: 80%;
  }
}
main .container_all .container_form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main .container_all .container_form form .container_input {
  width: 100%;
  background-color: white;
  padding: 5%;
  border: 2px solid #6DB86C;
  border-radius: 15px;
}
main .container_all .container_form form .container_input .container_names {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  main .container_all .container_form form .container_input .container_names {
    display: flex;
    flex-direction: column;
  }
}
main .container_all .container_form form .container_input .container_names .container_label {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .container_all .container_form form .container_input .container_names .container_label input {
  background: rgba(109, 184, 108, 0.67);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
main .container_all .container_form form .container_input .container_label {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
main .container_all .container_form form .container_input .container_label label {
  font-family: "KoHo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: black;
}
main .container_all .container_form form .container_input .container_label #subject {
  margin-bottom: 15px;
}
main .container_all .container_form form .container_input .container_label #description {
  height: 150px;
  resize: none;
}
main .container_all .container_form form .container_input .container_label input {
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #6DB96C;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 5px;
}
main .container_all .container_form form .container_input .container_label textarea {
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #6DB96C;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 5px;
}
main .container_all .container_form form button {
  background: #6DB86C;
  border-radius: 25px;
  border: 2px solid #6DB86C;
  padding: 10px 20px;
  font-family: "KoHo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.dashboard_admin {
  width: 100%;
  height: 100%;
  background-color: #FBFCF4;
  overflow-x: hidden;
}
.dashboard_admin h1 {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin: 50px 5% 0;
}
@media screen and (min-width: 768px) {
  .dashboard_admin h1 {
    font-size: 35px;
    text-align: left;
    margin: 5rem 5% 0;
  }
}
.dashboard_admin .all_messages {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 5%;
}
.dashboard_admin .all_messages .main_container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  border: solid #6DB86C;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.dashboard_admin .all_messages .main_container .infos_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .infos_container {
    display: flex;
    flex-direction: column;
    border-right: solid #6DB86C;
    border-bottom: none;
    width: 30%;
  }
}
.dashboard_admin .all_messages .main_container .infos_container .demandeur_society {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .infos_container .demandeur_society {
    display: flex;
    flex-direction: column;
  }
}
.dashboard_admin .all_messages .main_container .infos_container .demandeur_society .demandeur {
  width: 50%;
}
.dashboard_admin .all_messages .main_container .infos_container .demandeur_society .demandeur .title {
  font-size: 16px;
  display: none;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .infos_container .demandeur_society .demandeur .title {
    display: block;
  }
}
.dashboard_admin .all_messages .main_container .infos_container .demandeur_society .demandeur .info {
  font-weight: bold;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .infos_container .demandeur_society .demandeur .info {
    font-weight: normal;
    margin-left: 20px;
    font-size: 16px;
  }
}
.dashboard_admin .all_messages .main_container .infos_container .demandeur_society .society {
  width: 50%;
}
.dashboard_admin .all_messages .main_container .infos_container .demandeur_society .society .title {
  display: none;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .infos_container .demandeur_society .society .title {
    display: block;
  }
}
.dashboard_admin .all_messages .main_container .infos_container .demandeur_society .society .info {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .infos_container .demandeur_society .society .info {
    font-weight: normal;
    margin-left: 20px;
    font-size: 16px;
  }
}
.dashboard_admin .all_messages .main_container .infos_container .contact .title {
  display: none;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .infos_container .contact .title {
    display: block;
  }
}
.dashboard_admin .all_messages .main_container .infos_container .contact .info {
  font-size: 14px;
  color: #6DB86C;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .infos_container .contact .info {
    margin-left: 20px;
    font-size: 16px;
  }
}
.dashboard_admin .all_messages .main_container .message_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 0 15px 15px;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .message_container {
    margin-top: 0%;
    width: 70%;
    min-height: 30vh;
  }
}
.dashboard_admin .all_messages .main_container .message_container .message-compact.message {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .message_container .message-compact.message {
    align-items: normal;
    padding: 20px;
  }
}
.dashboard_admin .all_messages .main_container .message_container .message-compact.message .subject {
  display: none;
}
@media screen and (min-width: 760px) {
  .dashboard_admin .all_messages .main_container .message_container .message-compact.message .subject {
    display: block;
  }
}
.dashboard_admin .all_messages .main_container .message_container .message-compact.message .subject h3 {
  font-size: 18px;
}
.dashboard_admin .all_messages .main_container .message_container .message-compact.message .description {
  color: #767676;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
@media screen and (min-width: 760px) {
  .dashboard_admin .all_messages .main_container .message_container .message-compact.message .description {
    color: #000000;
  }
}
.dashboard_admin .all_messages .main_container .message_container .message-compact.message .description p {
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.2em;
  max-height: 2.4em;
  text-overflow: ellipsis;
}
@media screen and (min-width: 760px) {
  .dashboard_admin .all_messages .main_container .message_container .message-compact.message .description p {
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.2em;
    max-height: 2.4em;
    text-overflow: unset;
  }
}
.dashboard_admin .all_messages .main_container .message_container .message-full.message {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .message_container .message-full.message {
    align-items: normal;
    padding: 20px;
  }
}
.dashboard_admin .all_messages .main_container .message_container .message-full.message .subject {
  display: block;
}
.dashboard_admin .all_messages .main_container .message_container .message-full.message .subject h3 {
  font-size: 18px;
}
.dashboard_admin .all_messages .main_container .message_container .message-full.message .description {
  color: #000000;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.dashboard_admin .all_messages .main_container .message_container .button_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.dashboard_admin .all_messages .main_container .message_container .button_container .button {
  background-color: #6DB96C;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard_admin .all_messages .main_container .message_container .button_container .button.mobile_button {
  padding: 0.5em 1.5em;
  border-radius: 25px;
  width: 30px;
  aspect-ratio: 1/1;
  position: absolute;
  right: 20px;
  bottom: -20px;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .message_container .button_container .button.mobile_button {
    display: none;
  }
}
.dashboard_admin .all_messages .main_container .message_container .button_container .button.mobile_button i {
  color: #ffffff;
  font-size: 20px;
}
.dashboard_admin .all_messages .main_container .message_container .button_container .button.desktop_button {
  display: none;
}
@media screen and (min-width: 768px) {
  .dashboard_admin .all_messages .main_container .message_container .button_container .button.desktop_button {
    display: block;
    padding: 0.5em 1.5em;
    border-radius: 25px;
    margin-left: auto;
  }
  .dashboard_admin .all_messages .main_container .message_container .button_container .button.desktop_button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
}

.navbar {
  background-color: #FBFCF4;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }
}
.navbar .container-logo img.logo {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar .container-logo img.logo {
    display: block;
  }
}
.navbar .nav-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #FBFCF4;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
}
.navbar .nav-menu .nav-item {
  list-style: none;
}
.navbar .nav-menu .nav-item .nav-link {
  font-family: Koho;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #6DB86C;
  text-decoration: none;
}
.navbar .nav-menu .logo {
  list-style: none;
}
@media screen and (max-width: 768px) {
  .navbar .nav-menu .logo {
    display: none;
  }
}
.navbar .hamburger {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navbar .hamburger {
    display: block;
  }
}
.navbar .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #6DB86C;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu.active {
    left: 0;
    z-index: 1000;
    height: auto;
    gap: 20px;
  }
}
.dashboard {
  background-color: #FBFCF4;
  overflow-x: hidden;
}
.dashboard .unauthorized-message {
  font-size: 24px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: red;
}
.dashboard__header {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 50px auto 25px;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}
.dashboard__header__title {
  font-size: 28px;
}
.dashboard__header__button {
  text-decoration: none;
  color: white;
  background-color: #6DB96C;
  padding: 0.5em 1.5em;
  font-weight: bold;
  border-radius: 25px;
}
.dashboard__header__button:hover {
  background-color: #427241;
}
.dashboard__users {
  background-color: rgba(109, 185, 108, 0.18);
  border-radius: 20px;
}
.dashboard__users__columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 5em 2em 2em;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.dashboard__users__columns .fields-not-in-responsive {
  display: none;
}
.dashboard__users__user {
  border-bottom: 2px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
.dashboard__users__user:last-child {
  border: none;
}
.dashboard__users__user__fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.dashboard__users__user__fields h3 {
  text-transform: capitalize;
}
.dashboard__users__user__fields__name {
  width: 150px;
}
.dashboard__users__user__fields__name h4 {
  color: #6DB96C;
  font-size: 14px;
}
.dashboard__users__user__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  gap: 10px;
}
.dashboard__users__user__actions input {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  color: white;
}
.dashboard__users__user__actions input.dashboard__users__user_actions__add-admin {
  background-color: #6DB96C;
}
.dashboard__users__user__actions input.dashboard__users__user_actions__add-admin:hover {
  cursor: pointer;
  background-color: #5b9b5a;
}
.dashboard__users__user__actions input.dashboard__users__user_actions__remove-admin {
  background-color: #f4ac30;
}
.dashboard__users__user__actions input.dashboard__users__user_actions__remove-admin:hover {
  cursor: pointer;
  background-color: #c48a25;
}
.dashboard__users__user__actions input.dashboard__users__user_actions__remove-authorized {
  background-color: #7f7f7f;
}
.dashboard__users__user__actions input.dashboard__users__user_actions__remove-authorized:hover {
  cursor: pointer;
  background-color: #4f4e4e;
}
.dashboard__users__user__actions input.dashboard__users__user_actions__add-authorized {
  background-color: #548df7;
}
.dashboard__users__user__actions input.dashboard__users__user_actions__add-authorized:hover {
  cursor: pointer;
  background-color: #3e69ba;
}
.dashboard__users__user__actions input.dashboard__users__user_actions__remove {
  background-color: #ca4040;
}
.dashboard__users__user__actions input.dashboard__users__user_actions__remove:hover {
  cursor: pointer;
  background-color: #932d2d;
}

@media screen and (min-width: 560px) {
  .dashboard__header {
    flex-direction: row;
    width: 80%;
    margin: 100px auto 25px;
    padding: 0;
  }
  .dashboard__users {
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width: 780px) {
  .dashboard__users__columns {
    padding: 2em;
  }
  .dashboard__users__user__actions {
    flex-direction: row;
    width: auto;
  }
  .dashboard__users__user__actions input {
    width: auto;
    padding: 0.5em 1em;
  }
}
@media screen and (min-width: 1024px) {
  .dashboard__users__columns .fields-not-in-responsive {
    display: block;
    margin-right: 270px;
  }
  .dashboard__users__columns .fields-not-in-responsive.fields-optional {
    display: none;
  }
  .dashboard__users__user__fields {
    width: 45%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .dashboard__users__user__fields__name {
    width: 200px;
  }
  .dashboard__users__user__fields h3 {
    width: 100px;
  }
  .dashboard__users__user__fields h4 {
    width: 100px;
  }
  .dashboard__users__user__fields .user-optional-field {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .dashboard__users__columns .fields-not-in-responsive {
    display: block;
    margin: 0;
  }
  .dashboard__users__columns .fields-not-in-responsive.fields-optional {
    display: block;
    margin-left: 110px;
  }
  .dashboard__users__columns .fields-not-in-responsive.fields-not-optional {
    margin-right: 435px;
  }
  .dashboard__users__user__fields {
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .dashboard__users__user__fields__name {
    width: 200px;
  }
  .dashboard__users__user__fields h3 {
    width: 100px;
  }
  .dashboard__users__user__fields h4 {
    width: 100px;
  }
  .dashboard__users__user__fields .user-optional-field {
    display: block;
  }
}
.admin {
  display: flex;
  align-items: center;
  background-color: #FBFCF4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.admin__responsive-logo {
  font-size: 24px;
  color: #6DB96C;
  font-weight: bold;
  text-decoration: none;
}
.admin::before {
  content: "";
  position: absolute;
  z-index: 1;
  height: 90vh;
  left: 0;
  top: 10vh;
  height: 90vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
  opacity: 0;
}
.admin.show::before {
  opacity: 1;
}
.admin__nav {
  position: absolute;
  z-index: 2;
  right: -300px;
  top: 10vh;
  height: 90vh;
  width: 300px;
  background-color: #FBFCF4;
  transition: all 0.5s;
}
.admin__nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 25px;
  margin-top: 10vh;
  transition: all 0.5s;
}
.admin__nav__list__element__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin__nav__list__element__div button {
  border-radius: 30px;
  padding: 0.5em 2em;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  background: #6DB96C;
  border: none;
}
.admin__nav__list__element__div button:hover {
  cursor: pointer;
  background-color: #427241;
}
.admin__nav__list__element__div button i {
  font-size: 20px;
  color: #ffffff;
  margin-left: 20px;
}
.admin__nav__list__element__div button i.shown {
  transform: rotate(-180deg);
}
.admin__nav__list__element__logo {
  height: 6vh;
}
.admin__nav__list__element__link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #6DB96C;
}
.admin__nav__list__element__link:hover {
  cursor: pointer;
  color: #000000;
}
.admin__nav-shown {
  right: 0;
}
.admin__nav-shown .admin__nav__list .admin__nav__logo {
  display: none;
}
.admin__burger-hidden {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.admin__burger-hidden hr {
  width: 100%;
  height: 4px;
  border: none;
  background-color: #6DB96C;
  border-radius: 20px;
  transition: all 0.4s;
}
.admin__burger-hidden:hover {
  cursor: pointer;
}
.admin__burger-hidden.admin__burger-shown .admin__burger__first {
  transform: translateY(13px) rotate(-45deg);
}
.admin__burger-hidden.admin__burger-shown .admin__burger__middle {
  display: none;
}
.admin__burger-hidden.admin__burger-shown .admin__burger__last {
  transform: translateY(-13px) rotate(45deg);
}

@media screen and (min-width: 1024px) {
  .admin__responsive-logo {
    display: none;
  }
  .admin__burger-hidden {
    display: none;
  }
  .admin__nav {
    position: static;
    height: auto;
    width: 100%;
    padding: 1em 3em;
  }
  .admin__nav__list {
    flex-direction: row;
    margin: 0;
  }
  .admin__nav__list__element__div .admin__nav__list__element__link {
    position: absolute;
    right: 8%;
    top: 6vh;
    display: none;
    transform: translateX(30px);
  }
  .admin__nav__list__element__div .admin__nav__list__element__link.shown {
    display: block;
  }
  .admin__nav__list__element__logo {
    display: block;
  }
}
.game-init-container {
  background: #FBFCF4;
}
.game-init-container h1 {
  padding-top: 31px;
  text-align: center;
  font-size: 29px;
}
.game-init-container .start {
  padding: 1em 2em;
  background: #6DB86C;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}
.game-init-container .play {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.game-init-container .player-form {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 20px auto 0;
}
.game-init-container .player-form .name-input {
  margin-bottom: 10px;
  width: 70%;
}
.game-init-container .player-form .name-input input {
  border: 2px solid #6DB86C;
  border-radius: 15px;
  height: 2.5em;
  width: 236px;
}
.game-init-container .player-form .name-input label {
  margin: 5px 10px;
  color: #8D8A8A;
  font-size: 12px;
}
.game-init-container .player-form button {
  position: absolute;
  right: 30px;
  bottom: 8px;
  background: #6DB86C;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-init-container .setup-form {
  gap: 16px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
  align-items: center;
  position: relative;
}
.game-init-container .setup-form .setup-input {
  display: flex;
  flex-direction: column;
}
.game-init-container .setup-form select {
  width: 110px;
  background: #FFFFFF;
  border: 2px solid #6DB96C;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  height: 2.5rem;
  padding: 0.5em 1em;
}
.game-init-container .setup-form label {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -5px;
  font-size: 12px;
  white-space: nowrap;
  color: #8D8A8A;
}
.game-init-container .setup-form .responsive-button {
  display: none;
}
.game-init-container .setup-form button {
  background: #6DB86C;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -30px;
  bottom: 0;
}
.game-init-container .setup-show {
  min-height: 40vh;
  max-height: 50vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #6DB96C;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 20px auto;
  width: 85%;
}
.game-init-container .setup-show .setup-div {
  width: 90%;
  margin: 10px auto;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.game-init-container .setup-show .setup-div p {
  font-size: 18px;
  font-weight: bold;
}
.game-init-container .setup-show .player-div {
  margin: 0px 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: center;
}
.game-init-container .setup-show img {
  height: 36px;
  width: 36px;
  align-items: center;
}
.game-init-container .setup-show h2 {
  padding: 6px;
  text-align: center;
  font-size: 22px;
}

.solo-card {
  overflow: hidden;
}
.solo-card .card-img {
  width: 50%;
  padding: 1em;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  background: rgba(109, 185, 108, 0.35);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}
.solo-card .card-img img {
  max-width: 100%;
}
.solo-card .card-informations h2 {
  color: black;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}
.solo-card .card-informations h3 {
  text-align: center;
  color: #6DB86C;
}
.solo-card .card-description {
  margin: auto;
  width: 90%;
}
.solo-card .card-description h2 {
  color: black;
  font-weight: bold;
}

.add-admin {
  width: 100%;
  height: 100%;
  background-color: #FBFCF4;
}
.add-admin label {
  font-weight: 700;
  font-size: 16px;
  margin-left: 15px;
}
.add-admin input, .add-admin select {
  width: 100%;
  background-color: white;
  padding: 2% 5%;
  border: 2px solid #6DB86C;
  border-radius: 15px;
  background-position: 100px;
  appearance: none;
}
.add-admin input:focus {
  border: 2px solid #000000;
  outline: none;
}
.add-admin select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}
.add-admin select:focus {
  background-image: linear-gradient(45deg, #6DB86C 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #6DB86C 50%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
.add-admin__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin: 2em auto;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .add-admin__header {
    margin: 5rem auto 2em;
  }
}
.add-admin__header h2 {
  font-size: 24px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .add-admin__header h2 {
    font-size: 28px;
  }
}
.add-admin__header a {
  border: 2px solid #6DB86C;
  border-radius: 30px;
  padding: 0.5em 1em;
  font-size: 18px;
  text-decoration: none;
  color: #6DB86C;
  font-weight: bold;
}
.add-admin__header a:hover {
  background-color: #6DB86C;
  color: #ffffff;
}
.add-admin__container {
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #6BD86C;
  padding: 2em;
  border-radius: 20px;
}
.add-admin__container__title {
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .add-admin__container__title {
    align-items: center;
    margin-bottom: 5rem;
  }
}
.add-admin__container__title h3 {
  font-size: 26px;
}
.add-admin__container__form {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .add-admin__container__form {
    gap: 30px;
  }
}
.add-admin__container__form__first {
  display: flex;
  flex-direction: column;
  gap: 20px;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .add-admin__container__form__first {
    flex-direction: row;
    justify-content: space-around;
    padding: 0% 15%;
  }
}
.add-admin__container__form__first__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .add-admin__container__form__first__input {
    width: 45%;
  }
}
.add-admin__container__form__second {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .add-admin__container__form__second {
    flex-direction: row;
    justify-content: space-around;
    padding: 0% 15%;
  }
}
.add-admin__container__form__second__input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .add-admin__container__form__second__input {
    width: 45%;
  }
}
.add-admin__container__form__submit {
  background-color: #6DB96C;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  border: #6DB96C;
  border-radius: 25px;
  color: #ffffff;
  padding: 15px 55px;
}
@media screen and (min-width: 768px) {
  .add-admin__container__form__submit {
    width: 30%;
    margin: 3rem auto 1rem;
  }
}

footer {
  width: 100%;
  height: 85px;
  background: #6DB96C;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;
}
footer .footer_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}
footer .footer_container .text {
  font-family: "Koho";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
