@use "../utils/mixins";

.dashboard_admin{
    width: 100%;
    height: 100%;
    background-color: #FBFCF4;
    overflow-x: hidden;
    h1{
        font-weight: 700;
        font-size: 28px;
        text-align: center;
        margin: 50px 5% 0;
        @include mixins.breakpointmin(768px){
            font-size: 35px;
            text-align: left;
            margin: 5rem 5% 0;
        }
    }
    .all_messages{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 50px 5%;
        .main_container{
            position: relative;
            width: 100%;
            height: auto;
            background-color: white;
            border: solid #6DB86C;
            border-radius: 15px;
            box-shadow: 0px 5px 10px rgb(0 0 0 / 25%);
            @include mixins.breakpointmin(768px){
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            .infos_container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                padding: 15px;
                @include mixins.breakpointmin(768px){
                    display: flex;
                    flex-direction: column;
                    border-right: solid #6DB86C;
                    border-bottom: none;
                    width: 30%;
                }
                .demandeur_society{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 25px;
                    @include mixins.breakpointmin(768px){
                        display: flex;
                        flex-direction: column;
                    }
                    .demandeur{
                        width: 50%;
                        .title{
                            font-size: 16px;
                            display: none;

                            @include mixins.breakpointmin(768px) {
                                display: block;
                            }
                        }
                        .info{
                            font-weight: bold;
                            font-size: 20px;

                            @include mixins.breakpointmin(768px) {
                                font-weight: normal;
                                margin-left: 20px;
                                font-size: 16px;
                            }
                        }
                    }
                    .society{
                        width: 50%;
                        .title{
                            display: none;
                            font-size: 16px;

                            @include mixins.breakpointmin(768px) {
                                display: block;
                            }
                        }
                        .info{
                            font-size: 20px;

                            @include mixins.breakpointmin(768px) {
                                font-weight: normal;
                                margin-left: 20px;
                                font-size: 16px;
                            }
                        }
                    }
                }
                .contact{
                    margin-top: 25px;
                    .title{
                        display: none;
                        font-size: 16px;

                        @include mixins.breakpointmin(768px) {
                            display: block;
                        }
                    }
                    .info{
                        font-size: 14px;
                        color: #6DB86C;

                        @include mixins.breakpointmin(768px) {
                            margin-left: 20px;
                            font-size: 16px;
                        }
                    }
                }
            }
            .message_container{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                padding: 0 15px 15px;

                @include mixins.breakpointmin(768px){
                    margin-top: 0%;
                    width: 70%;
                    min-height: 30vh;
                }

                .message-compact.message{
                display: flex;
                flex-direction: column;
                gap: 15px;
                text-align: left;
                    @include mixins.breakpointmin(768px){
                        align-items: normal;
                        padding: 20px;
                    }
                    .subject{
                        display: none;

                        @include mixins.breakpointmin(760px) {
                            display: block;
                        }

                        h3{
                            font-size: 18px;
                        }
                    }
                    
                    .description{
                        color: #767676;
                        width: 100%;
                        display: flex;
                        align-items: flex-start;

                        @include mixins.breakpointmin(760px) {
                            color: #000000;
                        }

                        p {
                            overflow: hidden;
                            white-space: nowrap;
                            line-height: 1.2em;
                            max-height: 2.4em;
                            text-overflow: ellipsis;

                            @include mixins.breakpointmin(760px) {
                                white-space: normal;
                                word-wrap: break-word;
                                line-height: 1.2em;
                                max-height: 2.4em;
                                text-overflow: unset;
                            }
                        }
                    }
                }

                .message-full.message{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    text-align: left;

                        @include mixins.breakpointmin(768px){
                            align-items: normal;
                            padding: 20px;
                        }

                        .subject{
                            display: block;
                            
                            h3{
                                font-size: 18px;
                            }
                        }
                        
                        .description{
                            color: #000000;
                            width: 100%;
                            display: flex;
                            align-items: flex-start;
                        }
                    }

                .button_container{
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    .button{
                        background-color: #6DB96C;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        &.mobile_button {
                            padding: 0.5em 1.5em;
                            border-radius: 25px;
                            width: 30px;
                            aspect-ratio: 1/1;
                            position: absolute;
                            right: 20px;
                            bottom: -20px;

                            @include mixins.breakpointmin(768px) {
                                display: none;
                            }

                            i {
                                color: #ffffff;
                                font-size: 20px;
                            }
                        }

                        &.desktop_button {
                            display: none;

                            @include mixins.breakpointmin(768px) {
                                display: block;
                                padding: 0.5em 1.5em;
                                border-radius: 25px;
                                margin-left: auto;
                                a {
                                    text-decoration: none;
                                    color: #ffffff;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}