#winner-div{
  overflow: hidden;
  background: #FBFCF4;
  #congrats{
    padding: 30px;
    h2{
      text-align: center;
      font-size: 24px;
    }
  }

  #winners{
    position: relative;
    .first{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100px;
      height: 100px;
      left: 154px;
      top: 186px;
      h2{
        text-align: center;
        font-size: 24px;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 40px;
        left: 127px;
        top: 309px;
        background: #FFFFFF;
        border: 1px solid #6DB96C;
        border-radius: 25px;
      }
    }
    .second{
      position: absolute;
      width: 100px;
      height: 100px;
      left: 54px;
      top: 378px;
      h2{
        text-align: center;
        font-size: 24px;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #6DB96C;
        border-radius: 25px;
      }
    }
    .third{
      position: absolute;
      width: 100px;
      height: 100px;
      left: 254px;
      top: 378px;

      h2{
        text-align: center;
        font-size: 24px;
      }
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1px solid #6DB96C;
        border-radius: 25px;
      }
    }
    #others{
      position: absolute;
      width: 358px;
      height: 163px;
      left: 16px;
      top: 568px;
      padding: 1em 2em;
      background: #FBFCF4;
      border: 2px solid #6DB96C;
      border-radius: 10px;

      .otherplayers{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

